<header class="bg-gradient-to-r from-red-600 to-red-500 text-white shadow-lg sticky top-0 z-50">
  <div class="container mx-auto px-4 py-3">

    <!-- Desktop Nav -->
    <div class="hidden md:flex items-center justify-between">
      
      <!-- Logo -->
      <a href="/" class="flex items-center gap-2 font-bold text-xl tracking-tight hover:opacity-90 transition">
        <div class="bg-white text-red-500 rounded-lg p-1.5 shadow-md">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"/>
            <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"/>
          </svg>
        </div>
        decobnb
      </a>

      <!-- Desktop Links -->
      <ul class="flex items-center gap-1">

        <% if (isLoggedIn) { %>

          <% if (user && user.userType === 'guest') { %>
            <li>
              <a href="/events" class="<%= currentPage === 'event' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path d="M19.006 3.705a.75.75 0 00-.512-1.41L6 6.838V3a.75.75 0 00-.75-.75h-1.5A.75.75 0 003 3v4.93l-1.006.365a.75.75 0 00.512 1.41l16.5-6z"/>
                  <path fill-rule="evenodd" d="M3.019 11.115L18 5.667V9.09l4.006 1.456a.75.75 0 11-.512 1.41l-.494-.18v8.475h.75a.75.75 0 010 1.5H2.25a.75.75 0 010-1.5H3v-9.129l.019-.006zM18 20.25v-9.565l1.5.545v9.02H18zm-9-6a.75.75 0 00-.75.75v4.5c0 .414.336.75.75.75h3a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75H9z" clip-rule="evenodd"/>
                </svg>
                Events
              </a>
            </li>
            <li>
              <a href="/favourites" class="<%= currentPage === 'favourites' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"/>
                </svg>
                Favourites
              </a>
            </li>
            <li>
              <a href="/bookings" class="<%= currentPage === 'bookings' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd"/>
                </svg>
                My Bookings
              </a>
            </li>

          <% } else if (user && user.userType === 'host') { %>
            <li>
              <a href="/host/host-event-list" class="<%= currentPage === 'host-events' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path d="M5.223 2.25c-.497 0-.974.198-1.325.55l-1.3 1.298A3.75 3.75 0 007.5 9.75c.627.47 1.406.75 2.25.75.844 0 1.624-.28 2.25-.75.626.47 1.406.75 2.25.75.844 0 1.623-.28 2.25-.75a3.75 3.75 0 004.902-5.652l-1.3-1.299a1.875 1.875 0 00-1.325-.549H5.223z"/>
                  <path fill-rule="evenodd" d="M3 20.25v-8.755c1.42.674 3.08.673 4.5 0A5.234 5.234 0 009.75 12c.804 0 1.568-.182 2.25-.506a5.234 5.234 0 002.25.506c.804 0 1.567-.182 2.25-.506 1.42.674 3.08.675 4.5.001v8.755h.75a.75.75 0 010 1.5H2.25a.75.75 0 010-1.5H3zm3-6a.75.75 0 01.75-.75h3a.75.75 0 01.75.75v3a.75.75 0 01-.75.75h-3a.75.75 0 01-.75-.75v-3zm8.25-.75a.75.75 0 00-.75.75v5.25c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-5.25a.75.75 0 00-.75-.75h-3z" clip-rule="evenodd"/>
                </svg>
                My Events
              </a>
            </li>
            <li>
              <a href="/host/add-event" class="<%= currentPage === 'addevent' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path fill-rule="evenodd" d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z" clip-rule="evenodd"/>
                </svg>
                Add Event
              </a>
            </li>
            <li>
              <a href="/host/orders" class="<%= currentPage === 'orders' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"/>
                </svg>
                Orders
              </a>
            </li>
            <li>
              <a href="/host/applications" class="<%= currentPage === 'applications' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"/>
                </svg>
                Job Applications
              </a>
            </li>

          <% } else if (user && user.userType === 'employee') { %>
            <li>
              <a href="/employee/dashboard" class="<%= currentPage === 'emp-dashboard' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"/>
                  <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"/>
                </svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="/employee/nearby-jobs" class="<%= currentPage === 'nearby-jobs' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-2.003 3.5-4.697 3.5-8.867a8 8 0 00-16 0c0 4.17 1.555 6.864 3.5 8.867a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                </svg>
                Nearby Jobs
              </a>
            </li>
            <li>
              <a href="/employee/my-applications" class="<%= currentPage === 'my-applications' ? 'bg-white text-red-600 shadow-md' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg transition duration-200 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625zM7.5 15a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 017.5 15zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H8.25z" clip-rule="evenodd"/>
                  <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"/>
                </svg>
                My Applications
              </a>
            </li>
          <% } %>

          <!-- User badge -->
          <li class="ml-2">
            <div class="bg-white/20 backdrop-blur-sm border border-white/30 rounded-lg px-3 py-1.5 text-xs font-semibold tracking-wide uppercase">
              <%= user.firstName %> · <%= user.userType %>
            </div>
          </li>

          <!-- Logout -->
          <li>
            <form action="/logout" method="POST">
              <button type="submit" class="hover:bg-red-400 py-2 px-3 rounded-lg transition duration-200 border border-white/40 flex items-center gap-1 text-sm font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z" clip-rule="evenodd"/>
                </svg>
                Logout
              </button>
            </form>
          </li>

        <% } else { %>
          <li>
            <a href="/signup" class="<%= currentPage === 'signup' ? 'bg-red-700' : 'hover:bg-red-400' %> py-2 px-4 rounded-lg transition duration-200 border border-white/40 text-sm font-medium">
              Sign Up
            </a>
          </li>
          <li>
            <a href="/login" class="bg-white text-red-600 hover:bg-red-50 py-2 px-4 rounded-lg transition duration-200 text-sm font-semibold shadow-md">
              Login
            </a>
          </li>
        <% } %>

      </ul>
    </div>

    <!-- Mobile Nav -->
    <div class="md:hidden">
      <div class="flex justify-between items-center">
        <a href="/" class="flex items-center gap-2 font-bold text-lg">
          <div class="bg-white text-red-500 rounded-lg p-1 shadow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
              <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"/>
              <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"/>
            </svg>
          </div>
          decobnb
        </a>
        <button id="mobile-menu-button" class="p-2 rounded-lg hover:bg-red-400 transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
          </svg>
        </button>
      </div>

      <div id="mobile-menu" class="hidden mt-2">
        <ul class="flex flex-col gap-1 border-t border-red-400 pt-2 mt-2">
          <% if (isLoggedIn) { %>

            <% if (user && user.userType === 'guest') { %>
              <li><a href="/events" class="<%= currentPage === 'event' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">Events</a></li>
              <li><a href="/favourites" class="<%= currentPage === 'favourites' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">Favourites</a></li>
              <li><a href="/bookings" class="<%= currentPage === 'bookings' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">Bookings</a></li>

            <% } else if (user && user.userType === 'host') { %>
              <li><a href="/host/host-event-list" class="<%= currentPage === 'host-events' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">My Events</a></li>
              <li><a href="/host/add-event" class="<%= currentPage === 'addevent' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">Add Event</a></li>
              <li><a href="/host/orders" class="<%= currentPage === 'orders' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">Orders</a></li>
              <li><a href="/host/applications" class="<%= currentPage === 'applications' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">Job Applications</a></li>

            <% } else if (user && user.userType === 'employee') { %>
              <li><a href="/employee/dashboard" class="<%= currentPage === 'emp-dashboard' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">Dashboard</a></li>
              <li><a href="/employee/nearby-jobs" class="<%= currentPage === 'nearby-jobs' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">Nearby Jobs</a></li>
              <li><a href="/employee/my-applications" class="<%= currentPage === 'my-applications' ? 'bg-white text-red-600' : 'hover:bg-red-400' %> py-2 px-3 rounded-lg flex items-center gap-2 text-sm">My Applications</a></li>
            <% } %>

            <li class="pt-1 border-t border-red-400 mt-1">
              <div class="text-xs text-white/70 px-3 py-1"><%= user.firstName %> · <%= user.userType %></div>
            </li>
            <li>
              <form action="/logout" method="POST">
                <button type="submit" class="hover:bg-red-400 py-2 px-3 rounded-lg w-full text-left text-sm border border-white/30 flex items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm5.03 4.72a.75.75 0 010 1.06l-1.72 1.72h10.94a.75.75 0 010 1.5H10.81l1.72 1.72a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06l3-3a.75.75 0 011.06 0z" clip-rule="evenodd"/>
                  </svg>
                  Logout
                </button>
              </form>
            </li>

          <% } else { %>
            <li><a href="/signup" class="hover:bg-red-400 py-2 px-3 rounded-lg block text-sm border border-white/30">Sign Up</a></li>
            <li><a href="/login" class="bg-white text-red-600 hover:bg-red-50 py-2 px-3 rounded-lg block text-sm font-semibold mt-1">Login</a></li>
          <% } %>
        </ul>
      </div>
    </div>

  </div>
</header>

<script>
  document.getElementById("mobile-menu-button")?.addEventListener("click", function() {
    document.getElementById("mobile-menu").classList.toggle("hidden");
  });
</script>